.Step {
  position: absolute !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px !important;
  width: 100px !important;
  border-radius: 50% !important;
  background: linear-gradient(
    130deg,
    var(--first-color) 30%,
    var(--second-color) 30%,
    var(--second-color) 45%,
    var(--first-color) 45%,
    var(--first-color) 60%,
    var(--second-color) 60%
  ) !important;
  transition: transform 0.3s ease !important;
  color: white !important;
  font-size: 12px !important;
  font-weight: bold !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--third-color) 0px -10px 0px inset;
  cursor: pointer;
}

.Step:focus,
.Step:hover {
  transform: translateY(4px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--forth-color) 0px -7px 0px inset;
  border: 0px !important;
  outline: none !important;
}

.StepContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90% !important;
  width: 90% !important;
  border-radius: 50% !important;
}

.Golden {
  background: linear-gradient(
    130deg,
    var(--first-gold) 30%,
    var(--second-gold) 30%,
    var(--second-gold) 45%,
    var(--first-gold) 45%,
    var(--first-gold) 60%,
    var(--second-gold) 60%
  ) !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--forth-gold) 0px -10px 0px inset !important;
}

.Golden::before,
.Golden::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  opacity: 0;
}

.StepIcon {
  font-size: 25px !important;
  color: var(--text) !important;
}

/* Float Animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.StartContainer {
  position: absolute !important;
  width: fit-content !important;
  height: fit-content !important;
  z-index: 1 !important;
  outline: none !important;
}

.StartContainerRectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px !important;
  height: 50px !important;
  background-color: var(--first-color) !important;
  background: linear-gradient(
    130deg,
    var(--first-color) 30%,
    var(--second-color) 30%,
    var(--second-color) 45%,
    var(--first-color) 45%,
    var(--first-color) 60%,
    var(--second-color) 60%
  ) !important;
  position: relative !important;
  top: 50px !important; /* Adjust these values to position the rectangle */
  left: 50px !important; /* Adjust these values to position the rectangle */
  color: var(--text) !important;
  border-radius: 20px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  border: 1px solid white !important;
  animation: float 3s ease-in-out infinite;
}

.StartContainerRectangle::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 21px solid var(--text);
  z-index: 4;
}
