#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  --text: white;
  --first-color: #090088;
  --second-color: #02006c;
  --third-color: #010057;
  --forth-color: #010048;
  --fifth-color: #03002e;

  --first-gold: #ffd700; /* Gold */
  --second-gold: #ffc300; /* Slightly darker gold */
  --third-gold: #ffb100; /* Darker gold */
  --forth-gold: #ffa000; /* Even darker gold */
  --fifth-gold: #ff8f00; /* Darkest gold */
}
