#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  --text: white;
  --first-color: #090088;
  --second-color: #02006c;
  --third-color: #010057;
  --forth-color: #010048;
  --fifth-color: #03002e;
}
